In [1]:
import pandas as pd

In [19]:
coln=['A','B','C','D','E','F','G','H','I','J'] 
file1 = pd.read_csv('resources/2.csv', names=coln, header=None)

In [20]:
coln=['A','K','L','M','N','O','P','Q','R','S'] 
file2 = pd.read_csv("resources/2.csv", names=coln, header=None)

In [25]:
file1

,A,B,C,D,E,F,G,H,I,J
0,6414,7.80186,0.247504,1.43319,-7.66510,1.45440,-2.364110,1.399790,-1,5.28227
1,18656,135.71700,-11.668700,-51.05400,-125.20600,52.37050,-1.605880,-1.795490,-1,19.18650
2,36386,202.61200,30.825400,-32.19290,-197.64900,44.57120,-2.195030,-0.807095,1,20.41080
3,39680,9.68098,-3.822530,-0.49938,8.88033,3.85501,1.571710,-3.011690,1,14.46930
4,92457,3.15489,1.927540,1.45069,-2.03308,2.41245,-0.765700,0.645169,-1,2.90017
...,...,...,...,...,...,...,...,...,...,...
98009,1790803098,19.11680,-2.984860,17.90890,-5.98433,18.15600,-0.323913,1.735950,-1,20.07380
98010,1790960913,59.41590,14.010600,-17.88080,-54.90200,22.71600,-1.615910,-0.906163,-1,34.18640
98011,1791015884,72.23790,2.965180,-24.41510,67.92220,24.59450,1.740260,-1.449940,-1,45.13280
98012,1791053378,8.31444,-1.491290,-2.39785,7.82025,2.82376,1.742900,-2.127180,1,24.00710
98013,1791247487,27.81680,17.409100,-6.71373,20.63070,18.65880,0.954164,-0.368071,1,10.22700

In [26]:
file2

,A,K,L,M,N,O,P,Q,R,S
0,6414,7.80186,0.247504,1.43319,-7.66510,1.45440,-2.364110,1.399790,-1,5.28227
1,18656,135.71700,-11.668700,-51.05400,-125.20600,52.37050,-1.605880,-1.795490,-1,19.18650
2,36386,202.61200,30.825400,-32.19290,-197.64900,44.57120,-2.195030,-0.807095,1,20.41080
3,39680,9.68098,-3.822530,-0.49938,8.88033,3.85501,1.571710,-3.011690,1,14.46930
4,92457,3.15489,1.927540,1.45069,-2.03308,2.41245,-0.765700,0.645169,-1,2.90017
...,...,...,...,...,...,...,...,...,...,...
98009,1790803098,19.11680,-2.984860,17.90890,-5.98433,18.15600,-0.323913,1.735950,-1,20.07380
98010,1790960913,59.41590,14.010600,-17.88080,-54.90200,22.71600,-1.615910,-0.906163,-1,34.18640
98011,1791015884,72.23790,2.965180,-24.41510,67.92220,24.59450,1.740260,-1.449940,-1,45.13280
98012,1791053378,8.31444,-1.491290,-2.39785,7.82025,2.82376,1.742900,-2.127180,1,24.00710
98013,1791247487,27.81680,17.409100,-6.71373,20.63070,18.65880,0.954164,-0.368071,1,10.22700

In [23]:
Finaldf = pd.merge(file1, file2, on='A', how='inner')

In [28]:
Finaldf.to_csv('out.csv', index=False,header=False)